
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/SpaceGroteskMedium.ttf"); font-family : "Space Grotesk"; font-weight : 500;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/SpaceGroteskLight.ttf"); font-family : "Space Grotesk"; font-weight : 300;  }